$primary-font: 'Roboto', sans-serif;

$font-color: #333;
$font-color-light: #fff;
$font-color-brand: #118ded;
$font-color-brand-dark: #171f3e;
$font-color-brand-light: #66ceeb;

$base-url: '' !default;

